/* .fullscreen-image {
    position: relative;
    width: 100%;
    height: 88vh;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }
  
  .fullscreen-image__img {
    object-fit: cover;
  } */
